body {
	font-family: 'JetBrains Mono', monospace;
	background-color: beige;
     }
img {
	  display: block;
          margin-left: auto;
	  margin-right: auto;
    }
container {
	  display: flex;
	  gap: 20px; /* Adds space between the boxes */
	  /*  max-width: 900px; /* Optional: A max width for the container */
	  /*  margin: 0 auto;  Optional: Centers the container on the page */
	}

box {
		  flex: 1; /* Allows each box to grow and take up equal space */
		  padding: 20px; /* Adds space inside the box so the content isn't right on the edge */
		  background-color: white; /* A white color for the boxes */
     }
